{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<h1>New appointment</h1>
<form id="appointmentForm">
    <div>{% csrf_token %}</div>
    {% crispy form %}
</form>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'addAppointment.js' %}"></script>
{% endblock %}