{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}

<h1>Edit Prescription</h1>
<input id="prescriptionId" type="hidden" value="{{ prescription_id }}"/>

<input type="button" id="emailOpt" class="btn btn-sm btn-default" value="Send email">
<div id="emailDiv" class="form-inline" style="display:none;">
    <input type="text" id="email" class="form-control input-sm">
    <input type="button" id="sendBtn" class="btn btn-sm btn-primary" value="Send">
</div>

<form id="prescriptionForm">
    {% crispy form %}
</form>
<input id="deleteBtn" class="btn btn-danger btn-lg btn-bloc" type="button" value="Delete"/>
{% endblock %}

{% block js %}
{% load staticfiles %}
<script src="{% static 'editPrescription.js' %}"></script>
{% endblock %}