<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Latest compiled and minified CSS - Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
 -->
	<link href="http://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<!-- 	<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet"> -->
	<!-- Latest compiled and minified JavaScript -->
<!-- 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 -->

	 <!-- FormValidation CSS file -->
	<link rel="stylesheet" href="http://formvalidation.io/vendor/formvalidation/css/formValidation.min.css">

	<!-- jQuery v1.9.1 or higher -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="http://cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<!-- FormValidation plugin and the class supports validating Bootstrap form -->
	<script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
	<script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Health Care App</title>
    {% block css %}
    {% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
          		<a class="navbar-brand" href="#">Health Care App</a>
          	</div>
          		<div id="navbar" class="navbar-collapse collapse">
          			<ul class="nav navbar-nav">
					{% if user.is_authenticated %}
						<li><a id="logout" href="#">Logout</a></li>
						<input type="hidden" id="logoutToken" value="{{ csrf_token }}"/>
					{% else %}
						<li><a href="/login">Login</a></li>
						{% endif %}
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/doctors/new/">Register</a></li>
						<li><a href="/doctors">Doctors</a></li>
						<li><a href="/patients">Patients</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	{% load staticfiles %}
	<script  src="{% static 'base.js' %}"></script>
	{% block js %}
	{% endblock %}
</body>
</html>