<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Care App</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'min-css/bootstrap-3.3.6.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'min-css/navbar-fixed-top.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'min-css/dashboard.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'min-css/signin.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'min-css/formValidation.min.css' %}">

    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard/">Health Care App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a id="logout" href="#">Logout</a></li>
                <input type="hidden" id="logoutToken" value="{{ csrf_token }}"/>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/doctors/">Doctors</a></li>
                <li><a href="/patients/">Patients</a></li>
                <li><a href="/appointments/">Appointments</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
<script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
<script src="{% static 'base.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>