{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/dashboard/">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="/appointments/">Appointments</a></li>
                <li><a href="/patients/">Patients</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/appointments/new/">New Appointment</a></li>
                <li><a href="/prescriptions/new/">New Prescription</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if user.is_authenticated %} <h1 class="page-header">Hello, {{ user.first_name }}.</h1>{% endif %}

            <h2 class="sub-header">Agenda</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Patient #</th>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Confirmation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apt in apts %}

                    <tr>
                        <td>
                            {{ apt.patient.id }}
                        </td>
                        <td>
                            <a href="/patients/{{ apt.patient.id }}">
                                {{ apt.patient.first_name }} {{ apt.patient.last_name }}
                            </a>
                        </td>
                        <td>{{ apt.date }}</td>
                        <td>{{ apt.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}