{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}

<div class="row">
    {#% csrf_token %#}
    <h2 class=""></h2>
    <form id="ophthalmologyForm">
        {% crispy form %}
    </form>
    {% if form_id %}
        <input type="hidden" id="form_id" value="{{ form_id }}"/>
        <input type="button" id="deleteBtn" class="btn-danger btn btn-lg" value="Delete">
    {% endif %}
</div>

{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script src="{% static 'ophthalmology.js' %}"></script>
{% endblock %}