{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}

<div class="row">
    {#% csrf_token %#}
    <h2 class=""></h2>
    <form id="ophthalmologyForm">
        {% crispy form %}
    </form>
    <input type="button" id="addFieldBtn" class="btn btn-default btn-lg" value="Add Field"/>
    {% if form_id %}
        <input type="hidden" id="form_id" value="{{ form_id }}"/>
        <input type="button" id="deleteBtn" class="btn-danger btn btn-lg pull-right" value="Delete">
    {% endif %}
</div>

{% endblock %}

{% block js %}

{% if custom %}
<script type="text/javascript">
    {% for field in custom %}
    $('#button-id-savebtn').parent().parent().before(
        '<div class="customField form-group">' +
            '<input type="hidden" class="id" value="{{ field.id }}"/>' +
            '<label class="control-label">Title</label>' +
            '<input class="title textinput textInput form-control" type="text" value="{{ field.title }}"/>' +

            '<label class="control-label">Content</label>' +
            '<input class="content textinput textInput form-control" type="text" value="{{ field.content }}"/>' +
        '</div>'
    );
    {% endfor %}
</script>
{% endif %}

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'ophthalmology.js' %}"></script>
{% endblock %}